* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.ban {
  max-height: 300px;
  width: 100%;
}

.navbar,
footer {
  background-color: black;
}

.navbar a {
  font-family: "Noto Serif", serif;
}

h2 {
  font-family: "Noto Serif", serif;
}
